Package: wfplug-pixdecor-dbgsym
Source: wfplug-pixdecor
Version: 0.1
Auto-Built-Package: debug-symbols
Architecture: arm64
Maintainer: Simon Long <simon@raspberrypi.com>
Installed-Size: 408
Depends: wfplug-pixdecor (= 0.1)
Section: debug
Priority: optional
Description: debug symbols for wfplug-pixdecor
Build-Ids: f02d745d69d85eb3481b476d537ac7464c2bb142
